.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;
}

.header__space {
    margin-right: 20px;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
}

.header__appIcon {
    margin-right: 20px;
    font-size: 14px;
    text-decoration: none;
    color: gray;
}

.header__space:hover {
    color: gray;
    text-decoration: underline;
}

.header__appIcon:hover {
    color: #000000;
    cursor: pointer;
}

.header__avatar {
    height: 30px !important;
    width: 30px !important;
    margin-right: 30px;
}

.header__avatar:hover {
    cursor: pointer;
}